.list-area {
  li {
    border-bottom: 1px solid black;
    a {
      display: block;
      padding: 15px 30px;
      font-size: 20px;
      transition: all 0.1s linear;
    }
    a:hover {
      background-color: $fake-white;
      box-shadow: 0px 2px 5px black;
    }
  }
  li:first-of-type {
    border-top: 1px solid black;
  }
}
