.search {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 98;
  box-shadow: 1px 0px 3px black;
  background-color: white;
  transform: translateY(-65px);
  transition: all 0.5s ease-in-out;
  &__form {
    width: 85%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      font-size: 18px;
      padding: 0px 30px;
      border: none;
      outline: none;
    }
  }
  &__icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    i {
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: all 0.1s linear;
    }
    i:hover {
      transform: scale(1.3);
    }
  }
}
.search-icon {
  position: fixed;
  top: 80px;
  right: 25px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 3px black;
  visibility: hidden;
  cursor: pointer;
}
.search-icon:hover {
  transform: scale(1.3);
}
.show-search {
  transform: translateY(0px);
}
@media all and (min-width: 1023px) {
  .search {
    margin-left: 320px;
    width: calc(100% - 320px);
  }
  .search-icon {
    visibility: visible;
  }
}
