extends layouts/main
include mixins/boardBlock

block content
    h.home-title=area
    div.home-board
        each board in boards
            +boardBlock(board)
            +boardBlock(board)
            +boardBlock(board)