extends layouts/main

block content 
    div.board-detail
        div.user-info
            img.user-info__avatar(src='#')
            div.user-info__text
                span Name 
                span Area
        img.board-detail__image(src='#')
        div.board-info
            div.board-info__title
                h3 Title 
                h3 Money
                h3 Location
            div.board-info__map 지도
        p.board-detail__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde molestiae quis sunt quaerat reiciendis ut consequuntur non et, tempora eius minus error beatae omnis nihil, quo natus repudiandae molestias.
        span.board-detail__views Views
        

