extends layouts/main
include mixins/boardBlock

block content
    div.user-profile
        div.user-profile__info
            img.user-profile__avatar(src=user.avatarUrl)
            div.user-profile__text
                h6 닉네임:
                span=user.nickname
                h6 아이디(이메일):
                span=user.email
                if loggedUser
                    if user._id.toString() === loggedUser._id.toString()
                        a(href=routes.userEdit(user._id)) 프로필 수정
        div.line
        div.home-board
            each board in user.boards
                +boardBlock(board)