extends layouts/main

block content
    div.profile
        div.profile__info
            img.profile__avatar(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/user.png")
            div.profile__text
                h6 닉네임:
                span=loggedUser.nickname
                h6 아이디(이메일):
                span=loggedUser.email
                a(href=routes.userEdit(loggedUser.nickname)) 프로필 수정
        div.line