.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: $nav-width;
  height: 100vh;
  background-color: white;
  min-height: 800px;
  border: 1px solid black;
  overflow: auto;
  &__col:nth-of-type(1) {
    display: flex;
    align-items: flex-end;
    height: 15%;
  }
  &__col:nth-of-type(2) {
    display: flex;
    align-items: center;
    height: 10%;
  }
  &__col:nth-of-type(3) {
    display: flex;
    align-items: center;
    height: 60%;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
  &__login {
    margin-right: 15px;
  }
  &__login,
  &__join {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    i {
      margin-right: 5px;
    }
  }
}
