footer.footer
    div.footer__column
        a(href=routes.home)
            img.logo__image(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/logo-box-market.png")
    div.footer__column
        span 믿을 수 있는 중고거래
        span 자주 묻는 질문
    div.footer__column
        span 회사 소개
        span 광고주센터
        span 동네가게
    div.footer__column
        span 이용약관
        span 개인정보처리방침
        span 위치기반서비스 이용약관