header.header#jsHeader
    div.header__col
        i.fas.fa-bars#jsHeaderBars
    div.header__col
        div.logo
            a.logo__link(href=routes.home)
                img.logo__image.logo__image--nav(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/logo-box-market.png")
    div.header__col
        i.fas.fa-search#jsHeaderSearch
        
div.search#jsSearch
    form.search__form(action="#", method="get")
            input(type='text', placeholder="검색", name="term")
    div.search__icon    
        i.fas.fa-times#jsSearchTimes

div.search-icon#jsMainSearch
    i.fas.fa-search
        