nav.nav-container
    div.nav__column
        a
            i.fas.fa-box-open
            span 박스마켓
    div.nav__column
        a 로그인
        a 회원가입
    div.nav__column
        ul
            li 경기도
            li 서울특별시
            li 인천광역시