div.social-login
    div.social-login__col
        img.social-login__naver(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/naver.PNG")
    div.social-login__col
        img.social-login__kakao(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/kakao-talk.png")
    div.social-login__col
        img.social-login__google(src="https://shstore-side-project.s3.ap-northeast-2.amazonaws.com/assets/google.png")