.board-upload {
  display: flex;
  flex-direction: column;
  &__preview {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    img {
      background-color: $fake-white;
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }
  }
  &__upload {
    display: flex;
    position: relative;
    label {
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      color: white;
      border-radius: 20px;
      cursor: pointer;
      z-index: 1;
      margin-bottom: 20px;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0px;
      width: 50px;
    }
  }
  &__title,
  &__cost {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    transition: border-bottom 0.1s linear;
    font-size: 18px;
  }
  &__title:focus,
  &__cost:focus {
    border-bottom: 3px solid $blue;
  }
  &__select {
    margin-bottom: 20px;
    select {
      width: 85px;
      height: 30px;
      padding-left: 2px;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  &__map-data {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    h4 {
      margin-right: 5px;
    }
    input {
      width: 60%;
      background-color: white;
      border: none;
      color: black;
      outline: none;
    }
  }
  &__map {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: $fake-white;
    margin-bottom: 20px;
  }
  &__search {
    margin-bottom: 10px;
    input {
      width: 150px;
      height: 30px;
      padding: 10px;
    }
    p {
      margin-bottom: 10px;
    }
  }
  &__description {
    height: 300px;
    margin-bottom: 30px;
    resize: none;
    padding: 10px;
    font-size: 18px;
  }
  &__submit {
    background-color: $blue;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
  }
}
@media all and (min-width: 1023px) {
  .board-upload {
  }
}
